<div class="menu-left">

    <div class="menu-top">

        <img src="img/avatar.jpg" alt="Avatar Gautier Colasse" class="menu-avatar">

        <div class="menu-name">Gautier Colasse</div>

        <div class="menu-email">gautier.colasse@gmail.com</div>
    
    </div>

    <div class="menu-bar"></div>

    <nav>
        <ul class="menu-nav">
            <li class="nav-link active"><a href="#presentation">Présentation</a></li>
            <li class="nav-link"><a href="#cv">Curriculum Vitae</a></li>
            <li class="nav-link"><a href="#portfolio">Portfolio</a></li>
        </ul>
    </nav>

    <div class="menu-social">
        <a href="https://github.com/GautierCo" target="_blank" class="menu-social-link">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/gautier-colasse-828294130/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    </div>

</div>