<div class="menu-left">

    <div class="menu-left_top">

        <img src="img/avatar.jpg" alt="Avatar Gautier Colasse" class="menu-left_top__avatar">

        <div class="menu-left_top__name">Gautier Colasse</div>

        <h1 class="menu-left_top__job">Développeur Junior FullStack JS</h1>

        <div class="menu-left_top__email">gautier.colasse@gmail.com</div>
    
    </div>

    <div class="menu-left_bar"></div>

<!--
    MENU Desktop : 
-->
    <nav>
        <ul class="menu-left_nav">
            <li class="menu-left_nav__nav-link active" id="presentation">
                <a href="#prescontainer" class="switch" data-goto="goto_presentation">Présentation</a>
            </li>
            <li class="menu-left_nav__nav-link" id="cv">
                <a href="#cvcontainer" class="switch" data-goto="goto_cv">Curriculum Vitae</a>
            </li>
            <li class="menu-left_nav__nav-link" id="portfolio">
                <a href="#portcontainer" class="switch" data-goto="goto_portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>

    <div class="menu-left_social">
        <a href="https://github.com/GautierCo" target="_blank" rel="nofollow" class="menu-left_social__social-link">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/gautier-colasse-828294130/" target="_blank" rel="nofollow" class="menu-left_social__social-link">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    </div>

</div>

<!--
    MENU Mobile : 
-->
<nav class="mobile">
    <ul class="menu-top_nav">
        <li class="menu-top_nav__nav-link active" id="presentation-mobile">
            <a href="#prescontainer" class="switch" data-goto="goto_presentation">Présentation</a>
        </li>
        <li class="menu-top_nav__nav-link" id="cv-mobile">
            <a href="#cvcontainer" class="switch" data-goto="goto_cv">Curriculum Vitae</a>
        </li>
        <li class="menu-top_nav__nav-link" id="portfolio-mobile">
            <a href="#portcontainer" class="switch" data-goto="goto_portfolio">Portfolio</a>
        </li>
    </ul>
</nav>

<div class="menu-top">
    <div class="menu-top_bar"></div>
    <div class="menu-top_container">

        <div class="menu-top_left">
            <img src="img/avatar.jpg" alt="Avatar Gautier Colasse" class="menu-top_left__avatar">
            <div class="menu-top_left__name">Gautier Colasse</div>
        </div>

        <div class="menu-top_right">

            <span class="menu-top_right__job">Développeur Junior FullStack JS</span>
            <div class="menu-top_right__email">gautier.colasse@gmail.com</div>

            <div class="menu-top_right__social">
                <a href="https://github.com/GautierCo" target="_blank" rel="nofollow" class="menu-top_right__social___social-link">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/gautier-colasse-828294130/" target="_blank" rel="nofollow" class="menu-top_right__social___social-link">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
