<div class="menu-left">

    <div class="menu-top">

        <img src="img/avatar.jpg" alt="Avatar Gautier Colasse" class="menu-avatar">

        <div class="menu-name">Gautier Colasse</div>

        <span class="menu-job">Développeur Junior FullStack JS</span>

        <div class="menu-email">gautier.colasse@gmail.com</div>
    
    </div>

    <div class="menu-bar"></div>

    <nav>
        <ul class="menu-nav">
            <li class="nav-link active" id="presentation">
                <a href="#1" class="switch" data-goto="goto_presentation">Présentation</a>
            </li>
            <li class="nav-link" id="cv">
                <a href="#2" class="switch" data-goto="goto_cv">Curriculum Vitae</a>
            </li>
            <li class="nav-link" id="portfolio">
                <a href="#3" class="switch" data-goto="goto_portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>

    <div class="menu-social">
        <a href="https://github.com/GautierCo" target="_blank" class="menu-social-link">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/gautier-colasse-828294130/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    </div>

</div>