<div class="modal" id="openproject">

    <div class="modal-project-content">
        
        <div class="modal-exit"><i class="fas fa-times-circle fa-lg" id="modal-exit"></i></div>
        
        <img src="" alt="" class="modal-project-logo-mobile">

        <div class="modal-project-container-cols">
            <div class="modal-project-col1">
                <div class="modal-project-name">TEST</div>
                <div class="modal-project-theme" id="modal-project-theme">Thèmatique : </div>
                <div class="modal-project-tech">Technologie : </div>
            </div>

            <div class="modal-project-col2">
                <img src="" alt="" class="modal-project-logo-desktop">
            </div>

            <div class="modal-project-col3">
                <div class="modal-project-btns">
                    <a href="" class="modal-project-btn" target="_blank">Visiter</a>
                    <a href="" class="modal-project-btn github" target="_blank">Github</a>
                </div>
            </div>
        </div>

        <div class="modal-hr"></div>

        <div class="modal-project-presentation">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus a nihil placeat consequatur fugit tenetur corrupti, tempore rerum nam natus, eaque veniam illum excepturi veritatis laudantium. Rem ipsum accusantium rerum.
        </div>

        <img src="https://fakeimg.pl/680x320/" alt="" class="modal-project-video">

    </div>

</div>