<div class="modal" id="openproject">

    <div class="modal-project-content">

        <div class="modal-exit"><i class="fas fa-times-circle fa-lg" id="modal-exit"></i></div>
        <div class="modal-project-name">TEST</div>
        <div class="modal-project-theme" id="modal-project-theme">Thèmatique : </div>
        <div class="modal-project-tech">Technologie : </div>

        <a href="" class="modal-project-btn">Visiter</button>

        <hr class="modal-hr">

        <div class="modal-project-presentation">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus a nihil placeat consequatur fugit tenetur corrupti, tempore rerum nam natus, eaque veniam illum excepturi veritatis laudantium. Rem ipsum accusantium rerum.
        </div>

    </div>

</div>