<%- include('./partials/header') %> 

<%- include('./partials/menu') %> 

<main class="main">

    <div class="container presentation" id="1">

        <div class="container-title">
            <span class="fas fa-quote-left fa-2x fa-pull-left"></span>
            <h1 class="title">Présentation</h1>
        </div>

        <section class="section-presentation">

            <p class="content-presentation">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ut quibusdam itaque harum aut debitis cum quam quisquam expedita aliquam deserunt illum, nihil minima officia perferendis consectetur voluptas magnam pariatur.
                Aperiam aliquid, facilis laudantium excepturi, itaque minus atque quibusdam at ducimus mollitia, distinctio doloribus quidem dolores nisi cumque. Consectetur rerum modi alias nemo inventore accusantium laboriosam architecto pariatur eum ea?
                Animi ut, repudiandae officia omnis porro doloribus repellendus sunt recusandae nihil sint atque quam aperiam quae, corporis quod harum nisi tenetur impedit! Unde natus facere reiciendis quos illum? Illo, vero!
            </p>
    
        </section>
        
        <div class="arrow-down">
            <a href="/cv#2"><i class="fas fa-angle-double-down fa-2x"></i></a>
        </div>

    </div>

    <div class="container cv" id="2">

        <div class="container-title">
            <span class="fas fa-quote-left fa-2x fa-pull-left"></span>
            <h1 class="title">Curriculum Vitae</h1>
        </div>

        <section class="section-cv">

        </section>
        
        <div class="arrow-down">
            <a href="/portfolio#3"><i class="fas fa-angle-double-down fa-2x"></i></a>
        </div>

    </div>

    <div class="container portfolio" id="3">

        <div class="container-title">
            <span class="fas fa-quote-left fa-2x fa-pull-left"></span>
            <h1 class="title">Portfolio</h1>
        </div>

        <section class="section-portfolio">

        </section>
        
        <div class="arrow-down">
            <a href="/presentation#1"><i class="fas fa-angle-double-up fa-2x"></i></a>
        </div>

    </div>

</main>

<%- include('./partials/footer') %> 